<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Incapp Book App</h1>
	<hr>
	<a href='/'>Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
	<a href='login'>Login</a> &nbsp;&nbsp;&nbsp;&nbsp;
	<hr>
	<section style='display:flex; flex-wrap:wrap;'>
		<div th:each="book : ${books}">
			<div style='background-color:yellow; padding:15px; margin:10px; width:250px'>
				<!-- <img height='100px' th:src='@{/GetImage(name=${book.name})}' />  -->
				<img th:if="${book.image}" height='100px' th:src='@{/GetImage2(name=${book.name})}' /> 
				<img th:if="${book.image==null}" height='100px' src='book.png' /> 
				<p>Name: <span th:text="${book.name}" ></span> </p>
				<p>Price: <span th:text="${book.price}" ></span> </p>
				
				<a th:href='@{/BookDetails(name=${book.name})}'>More Details</a> 
				<br><br>
				<form action='BookDetails' method='post'>
					<input type='hidden' name='name' th:value='${book.name}'>
					<button>More Details</button>
				</form>
			</div>
		</div>
	</section>
	
</body>
</html>